.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
}

.icon-star {
  height: 50%;
  margin-left: 5%;
}

.line {
  background-color: #41434e;
  width: 50%;
  height: 2px;
  margin-left: 3%;
}

.menu-options {
  width: 70%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.071);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button-content {
  margin-left: 3%;
}

.button-options {
  background-color: transparent;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  color: #fff;
  border: none;
  text-decoration: none;
  padding-bottom: 35px;
}

.button-options:hover {
  border-radius: 0;
  color: #fff;
  border-bottom: solid 4px #ffffff77;
}

.button-options:focus {
  outline: none;
  box-shadow: none;
  border-bottom: solid 4px #fff;
  border-radius: 0;
}

.button-options.active {
  color: #fff;
  border-bottom: solid 4px #fff;
}

.button-options.pending {
  opacity: 0.5;
}
